In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [3]:
credit_risk = pd.read_csv(r"C:\Users\singh\Downloads\credit_risk_dataset.csv")
credit_risk.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [4]:
credit_risk.shape

(32581, 12)

In [5]:
credit_risk.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [6]:
credit_risk_copy = credit_risk.copy()

In [7]:
# credit_risk.pivot_table(index='person_age', columns='loan_status', values='person_income', aggfunc='count').reset_index().sort_values(by='person_age', ascending=False)

In [8]:
cr_age_rmvd = credit_risk[credit_risk['person_age']<=70]

In [9]:
cr_age_rmvd.shape

(32568, 12)

In [10]:
cr_age_rmvd.reset_index(drop=True, inplace= True)

In [11]:
cr_age_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [12]:
# cr_age_rmvd.pivot_table(index='person_emp_length',columns='loan_status', values='person_income', aggfunc='count').reset_index().sort_values(by='person_emp_length',ascending=False)

In [13]:
person_emp_rmvd = cr_age_rmvd[cr_age_rmvd['person_emp_length']<=47]
person_emp_rmvd.shape

(31671, 12)

In [14]:
person_emp_rmvd.reset_index(drop=True, inplace=True)
person_emp_rmvd.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [15]:
person_emp_rmvd.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31671.000000,3.167100e+04,31671.000000,31671.000000,28626.000000,31671.000000,31671.000000,31671.000000
mean,27.717754,6.649231e+04,4.780714,9660.637492,11.040070,0.215497,0.169621,5.804395
std,6.159859,5.277413e+04,4.028718,6334.716643,3.229507,0.411173,0.106275,4.048776
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.936600e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.480000,0.000000,0.230000,8.000000
max,70.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [16]:
person_emp_rmvd.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3045
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [17]:
cr_data = person_emp_rmvd.copy()

In [18]:
cr_data.fillna({'loan_int_rate': cr_data['loan_int_rate'].median()}, inplace=True)

In [19]:
cr_data.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [20]:
cr_data.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31671.000000,3.167100e+04,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000
mean,27.717754,6.649231e+04,4.780714,9660.637492,11.035256,0.215497,0.169621,5.804395
std,6.159859,5.277413e+04,4.028718,6334.716643,3.070364,0.411173,0.106275,4.048776
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.936600e+04,2.000000,5000.000000,8.490000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.160000,0.000000,0.230000,8.000000
max,70.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [21]:
cr_data.groupby('loan_status').count()['person_age']

loan_status
0    24846
1     6825
Name: person_age, dtype: int64

In [22]:
6825/(6825+24846)

0.21549682675002368

In [23]:
cr_data.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2

In [24]:
cr_data.groupby('person_home_ownership').count()['loan_intent']

person_home_ownership
MORTGAGE    13088
OTHER         107
OWN          2410
RENT        16066
Name: loan_intent, dtype: int64

In [25]:
cr_data.groupby('loan_intent').count()['person_home_ownership']

loan_intent
DEBTCONSOLIDATION    5064
EDUCATION            6288
HOMEIMPROVEMENT      3510
MEDICAL              5891
PERSONAL             5365
VENTURE              5553
Name: person_home_ownership, dtype: int64

In [26]:
cr_data.groupby('loan_grade').count()['person_home_ownership']

loan_grade
A    10365
B    10181
C     6318
D     3555
E      952
F      236
G       64
Name: person_home_ownership, dtype: int64

In [27]:
cr_data_copy = cr_data.drop('loan_grade', axis=1)

In [28]:
cr_data_copy.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

In [29]:
cr_data_copy.shape

(31671, 11)

# Categorical Features Treatment

In [30]:
cr_data_cat_treated = cr_data_copy.copy()

In [31]:
person_home_ownership = pd.get_dummies(cr_data_cat_treated['person_home_ownership'], drop_first=True).astype(int)
loan_intent = pd.get_dummies(cr_data_cat_treated['loan_intent'], drop_first=True).astype(int)
cr_data_cat_treated['cb_person_default_on_file_binary'] = np.where(cr_data_cat_treated['cb_person_default_on_file']=='Y',1,0)
cr_data_cat_treated.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0

In [32]:
loan_intent.head()

   EDUCATION  HOMEIMPROVEMENT  MEDICAL  PERSONAL  VENTURE
0          1                0        0         0        0
1          0                0        1         0        0
2          0                0        1         0        0
3          0                0        1         0        0
4          0                0        0         0        1

In [33]:
data_to_scale = cr_data_cat_treated.drop(['person_home_ownership','loan_intent','loan_status','cb_person_default_on_file','cb_person_default_on_file_binary'],axis=1)

In [34]:
data_to_scale.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,21,9600,5.0,1000,11.14,0.10,2
1,25,9600,1.0,5500,12.87,0.57,3
2,23,65500,4.0,35000,15.23,0.53,2
3,24,54400,8.0,35000,14.27,0.55,4
4,21,9900,2.0,2500,7.14,0.25,2

In [35]:
scaler = StandardScaler()

In [36]:
data_to_scale.columns

Index(['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length'],
      dtype='object')

In [37]:
scaled_data = scaler.fit_transform(data_to_scale)
scaled_df = pd.DataFrame(scaled_data, columns=['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length'])
scaled_df.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656

In [38]:
round(np.std(scaled_df.person_income),2)

1.0

In [39]:
scaled_df.shape

(31671, 7)

In [40]:
scaled_data_combined = pd.concat([scaled_df,person_home_ownership,loan_intent], axis=1)
scaled_data_combined['cb_person_default_on_file'] = cr_data_cat_treated['cb_person_default_on_file_binary']
scaled_data_combined['loan_status'] = cr_data_cat_treated['loan_status']
scaled_data_combined.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file,loan_status
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0,1
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0,1
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0,1

In [41]:
scaled_data_combined.groupby('loan_status').count()['EDUCATION']

loan_status
0    24846
1     6825
Name: EDUCATION, dtype: int64

In [42]:
target = scaled_data_combined['loan_status']
features = scaled_data_combined.drop('loan_status', axis=1)
features.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0

# Data Balancing

In [43]:
pip install imbalanced-Learn

Requirement already satisfied: imbalanced-Learn in c:\users\singh\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\singh\anaconda3\lib\site-packages (from imbalanced-Learn) (1.3.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\singh\anaconda3\lib\site-packages (from imbalanced-Learn) (1.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\singh\anaconda3\lib\site-packages (from imbalanced-Learn) (2.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\singh\anaconda3\lib\site-packages (from imbalanced-Learn) (1.20.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\singh\anaconda3\lib\site-packages (from imbalanced-Learn) (1.4.1.post1)
Note: you may need to restart the kernel to use updated packages.

In [44]:
from imblearn.over_sampling import SMOTE

In [45]:
smote = SMOTE()

In [46]:
balanced_features, balanced_target = smote.fit_resample(features, target)

In [47]:
balanced_features.shape

(49692, 16)

In [48]:
31671

31671

In [49]:
scaled_data_combined.groupby('loan_status').size()

loan_status
0    24846
1     6825
dtype: int64

In [50]:
balanced_target_df = pd.DataFrame({'target':balanced_target})
balanced_target_df.groupby('target').size()

target
0    24846
1    24846
dtype: int64

 # Model Training

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

In [52]:
import sys
!{sys.executable} -m pip install xgboost

Requirement already satisfied: xgboost in c:\users\singh\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\singh\anaconda3\lib\site-packages (from xgboost) (1.20.3)
Requirement already satisfied: scipy in c:\users\singh\anaconda3\lib\site-packages (from xgboost) (1.7.1)

In [53]:
from xgboost import XGBClassifier

In [54]:
x_train, x_test, y_train, y_test = train_test_split(balanced_features, balanced_target, test_size=0.20,random_state=42)

In [55]:
logit = LogisticRegression()

In [56]:
logit.fit(x_train, y_train)

LogisticRegression()

In [104]:
import pickle

In [105]:
with open('logisticPDmodel.pkl','wb') as file:
    pickle.dump(logit,file)

In [57]:
logit.score(x_train, y_train)

0.7845194073403265

In [58]:
logit_prediction = logit.predict(x_test)
logit_prediction

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [59]:
print(classification_report(y_test, logit_prediction))

              precision    recall  f1-score   support

           0       0.78      0.79      0.78      4995
           1       0.78      0.78      0.78      4944

    accuracy                           0.78      9939
   macro avg       0.78      0.78      0.78      9939
weighted avg       0.78      0.78      0.78      9939

In [60]:
print(logit.coef_[0])

[-0.08736092  0.07070706 -0.04766233 -0.67305398  0.98621518  1.40806506
  0.03097949 -0.61771452 -2.05496172  0.47800231 -1.220203   -0.31657312
 -0.54401456 -0.97079889 -1.53392219  0.08620776]

In [61]:
features_imp_logit = pd.DataFrame({'features': balanced_features.columns, 'logit_imp':logit.coef_[0]})
features_imp_logit.sort_values(by='logit_imp',ascending=False)

                      features  logit_imp
5          loan_percent_income   1.408065
4                loan_int_rate   0.986215
9                         RENT   0.478002
15   cb_person_default_on_file   0.086208
1                person_income   0.070707
6   cb_person_cred_hist_length   0.030979
2            person_emp_length  -0.047662
0                   person_age  -0.087361
11             HOMEIMPROVEMENT  -0.316573
12                     MEDICAL  -0.544015
7                        OTHER  -0.617715
3                    loan_amnt  -0.673054
13                    PERSONAL  -0.970799
10                   EDUCATION  -1.220203
14                     VENTURE  -1.533922
8                          OWN  -2.054962

# RandomForest

In [62]:
rf = RandomForestClassifier()

In [63]:
rf.fit(x_train, y_train)

RandomForestClassifier()

In [106]:
with open('RandomForesPDmodel.pkl','wb') as file:
    pickle.dump(rf,file)

In [64]:
rf.score(x_train, y_train)

0.9999748446658114

In [65]:
rf_prediction = rf.predict(x_test)
rf_prediction

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [66]:
print(classification_report(y_test,rf_prediction ))

              precision    recall  f1-score   support

           0       0.91      0.96      0.94      4995
           1       0.96      0.91      0.93      4944

    accuracy                           0.94      9939
   macro avg       0.94      0.94      0.94      9939
weighted avg       0.94      0.94      0.94      9939

In [67]:
rf.feature_importances_

array([0.06166948, 0.14550072, 0.07265571, 0.08011767, 0.21102135,
       0.20846388, 0.06241898, 0.0004262 , 0.02034145, 0.04773837,
       0.01521252, 0.01632569, 0.00851326, 0.01325619, 0.01742868,
       0.01890985])

In [68]:
features_imp_rf = pd.DataFrame({'features': balanced_features.columns, 'rf_imp':rf.feature_importances_})
features_imp_rf.sort_values(by='rf_imp',ascending=False)

                      features    rf_imp
4                loan_int_rate  0.211021
5          loan_percent_income  0.208464
1                person_income  0.145501
3                    loan_amnt  0.080118
2            person_emp_length  0.072656
6   cb_person_cred_hist_length  0.062419
0                   person_age  0.061669
9                         RENT  0.047738
8                          OWN  0.020341
15   cb_person_default_on_file  0.018910
14                     VENTURE  0.017429
11             HOMEIMPROVEMENT  0.016326
10                   EDUCATION  0.015213
13                    PERSONAL  0.013256
12                     MEDICAL  0.008513
7                        OTHER  0.000426

# XgBoost Model

In [69]:
xgb_model = XGBClassifier(tree_method = 'exact')

In [70]:
# model.fit(x,y_values.ravel())
xgb_model.fit(x_train, y_train.values.ravel())

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [107]:
with open('XGBpdModel.pkl','wb') as file:
    pickle.dump(xgb_model,file)

In [71]:
xgb_model.score(x_train, y_train.values.ravel())

0.9670716675471034

In [72]:
xgb_prediction = xgb_model.predict(x_test)
xgb_prediction

array([0, 0, 0, ..., 0, 0, 1])

In [73]:
print(classification_report(y_test, xgb_prediction))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95      4995
           1       0.98      0.91      0.95      4944

    accuracy                           0.95      9939
   macro avg       0.95      0.95      0.95      9939
weighted avg       0.95      0.95      0.95      9939

In [74]:
features_imp_rf = pd.DataFrame({'features': balanced_features.columns, 'rf_imp':rf.feature_importances_})
features_imp_xgb = pd.DataFrame({'features': balanced_features.columns, 'xgb_imp':xgb_model.feature_importances_})
features_imp_xgb.sort_values(by='xgb_imp', ascending=True)

                      features   xgb_imp
3                    loan_amnt  0.008886
7                        OTHER  0.010145
12                     MEDICAL  0.014083
15   cb_person_default_on_file  0.021125
0                   person_age  0.035197
13                    PERSONAL  0.037598
1                person_income  0.038239
2            person_emp_length  0.054613
11             HOMEIMPROVEMENT  0.056698
6   cb_person_cred_hist_length  0.065456
10                   EDUCATION  0.066038
4                loan_int_rate  0.069486
14                     VENTURE  0.095473
9                         RENT  0.106963
5          loan_percent_income  0.133569
8                          OWN  0.186432

In [75]:
features_imp = pd.concat([features_imp_logit, features_imp_rf,features_imp_xgb], axis=1)
features_imp

,features,logit_imp,features,rf_imp,features,xgb_imp
0,person_age,-0.087361,person_age,0.061669,person_age,0.035197
1,person_income,0.070707,person_income,0.145501,person_income,0.038239
2,person_emp_length,-0.047662,person_emp_length,0.072656,person_emp_length,0.054613
3,loan_amnt,-0.673054,loan_amnt,0.080118,loan_amnt,0.008886
4,loan_int_rate,0.986215,loan_int_rate,0.211021,loan_int_rate,0.069486
5,loan_percent_income,1.408065,loan_percent_income,0.208464,loan_percent_income,0.133569
6,cb_person_cred_hist_length,0.030979,cb_person_cred_hist_length,0.062419,cb_person_cred_hist_length,0.065456
7,OTHER,-0.617715,OTHER,0.000426,OTHER,0.010145
8,OWN,-2.054962,OWN,0.020341,OWN,0.186432
9,RENT,0.478002,RENT,0.047738,RENT,0.106963
10,EDUCATION,-1.220203,EDUCATION,0.015213,EDUCATION,0.066038
11,HOMEIMPROVEMENT,-0.316573,HOMEIMPROVEMENT,0.016326,HOMEIMPROVEMENT,0.056698
12,MEDICAL,-0.544015,MEDICAL,0.008513,MEDICAL,0.014083
13,PERSONAL,-0.970799,PERSONAL,0.013256,PERSONAL,0.037598
14,VENTURE,-1.533922,VENTURE,0.017429,VENTURE,0.095473
15,cb_person_default_on_file,0.086208,cb_person_default_on_file,0.018910,cb_person_default_on_file,0.021125

# Further Exploration

In [81]:
xgb_prediction

array([0, 0, 0, ..., 0, 0, 1])

In [88]:
xgb_prediction_df = pd.DataFrame({'test_indices_xgb':x_test.index, 'xgb_pred':xgb_prediction})
rf_prediction_df = pd.DataFrame({'test_indices_rf':x_test.index, 'rf_pred':rf_prediction})
logit_prediction_df = pd.DataFrame({'test_indices_logit':x_test.index, 'logit_pred':logit_prediction})

In [89]:
rf_prediction_df.head()

   test_indices_rf  rf_pred
0            24808        0
1             9935        0
2            14054        0
3              147        0
4             4070        1

In [93]:
merged_with_orig = cr_data_copy.merge(xgb_prediction_df, left_index= True, right_on='test_indices_xgb', how='left')
merged_with_orig.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,test_indices_xgb,xgb_pred
NaN,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0,NaN
9831.0,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,1,1.0
NaN,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,2,NaN
NaN,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,3,NaN
442.0,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,4,1.0

In [94]:
merged_with_rf = merged_with_orig.merge(rf_prediction_df, left_index=True, right_on='test_indices_rf', how='left')
merged_with_rf.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,test_indices_xgb,xgb_pred,test_indices_rf,rf_pred
NaN,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0,NaN,NaN,NaN
NaN,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,1,1.0,9831.0,NaN
NaN,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,2,NaN,NaN,NaN
NaN,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,3,NaN,NaN,NaN
NaN,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,4,1.0,442.0,NaN

In [95]:
merged_with_final = merged_with_rf.merge(logit_prediction_df, left_index=True, right_on='test_indices_logit', how='left')
merged_with_final.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,test_indices_xgb,xgb_pred,test_indices_rf,rf_pred,test_indices_logit,logit_pred
NaN,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0,NaN,NaN,NaN,NaN,NaN
NaN,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,1,1.0,9831.0,NaN,NaN,NaN
NaN,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,2,NaN,NaN,NaN,NaN,NaN
NaN,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,3,NaN,NaN,NaN,NaN,NaN
NaN,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,4,1.0,442.0,NaN,NaN,NaN

In [96]:
merged_with_final.shape

(31671, 17)

In [98]:
merged_with_final.dropna(inplace=True)

In [99]:
merged_with_final.shape

(273, 17)

In [100]:
merged_with_final.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,test_indices_xgb,xgb_pred,test_indices_rf,rf_pred,test_indices_logit,logit_pred
7782.0,24,78956,RENT,5.0,MEDICAL,35000,11.11,1,0.44,N,4,6,1.0,5893.0,0.0,8675.0,1.0
7968.0,25,12600,OWN,3.0,PERSONAL,1750,13.61,0,0.14,N,3,103,0.0,3308.0,1.0,3755.0,0.0
9251.0,22,153000,MORTGAGE,5.0,DEBTCONSOLIDATION,24000,15.62,1,0.16,Y,2,341,1.0,2116.0,1.0,2186.0,0.0
5662.0,22,16094,MORTGAGE,2.0,VENTURE,5500,7.14,1,0.34,N,3,351,1.0,3229.0,0.0,9057.0,1.0
143.0,21,18000,OWN,1.0,PERSONAL,2500,11.36,0,0.14,N,3,454,0.0,1442.0,0.0,9313.0,0.0

In [101]:
final_data_with_pred = merged_with_final.drop(['test_indices_xgb','test_indices_rf','test_indices_logit'], axis=1)
final_data_with_pred.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,xgb_pred,rf_pred,logit_pred
7782.0,24,78956,RENT,5.0,MEDICAL,35000,11.11,1,0.44,N,4,1.0,0.0,1.0
7968.0,25,12600,OWN,3.0,PERSONAL,1750,13.61,0,0.14,N,3,0.0,1.0,0.0
9251.0,22,153000,MORTGAGE,5.0,DEBTCONSOLIDATION,24000,15.62,1,0.16,Y,2,1.0,1.0,0.0
5662.0,22,16094,MORTGAGE,2.0,VENTURE,5500,7.14,1,0.34,N,3,1.0,0.0,1.0
143.0,21,18000,OWN,1.0,PERSONAL,2500,11.36,0,0.14,N,3,0.0,0.0,0.0

In [103]:
final_data_with_pred.to_excel(r"C:\Users\singh\.ipynb_checkpoints\pd_prediction.xlsx", index=False)

## Automate PreProcessing 
## Save the Trained Models
### Try and use the automated modules and trained models